<div ng-if="logado == 0">
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
        <h2>Sistema de Matrícula Engenharia Ambiental e Sanitária 2016.2</h2>
        <p>Realize sua matrícula conforme calendário acadêmico:</p>
        <ul>
            <li>FLUXO PADRÃO: De 03 a 07 de Janeiro de 2017</li>
            <li>FLUXO INDIVIDUAL: De 08 a 11 de Janeiro de 2017</li>
            
        </ul>
        <div ng-if="situacao"><p><a class="btn btn-primary btn-lg" href="#!cadastro" role="button">Matricule-se &raquo;</a></p></div>
        
</div>

<div ng-if="logado == 1">
  
    <p>Inicio</p>
</div>


      
      

