<div class="modal-dialog" style="margin:0;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Alterar matrícula?</h4>
    </div>
    <div class="modal-body">
      <div>Ao fazer alterações na matrícula, você será movido para o fim da fila.</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Fechar</button>
      <button type="button" class="btn btn-primary" ng-click="ok()">Continuar</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<style>
    .modal {
    display: block;
}
</style>